---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% if forloop.index == 2 or forloop.index == 3 %}
            {% include postbox.html excerptWordCount=10 %}
        {% else %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>

