
<h2 class="text-center mb-4">More tagged with {{ sortedTags | join: ", " }}</h2>

<!-- Related posts based on tags -->
{% assign maxRelated = 3 %}
{% assign maxRelatedCounter = 0 %}
{% assign break_inner_loop = false %}
<div class="blog-grid-container">
    {% for post in site.posts %}
        {% if post.url != page.url %}
        {% for tag in sortedTags %}
            {% if post.tags contains tag %}
                {% include postbox.html %}
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                    {% assign break_inner_loop = true %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if break_inner_loop %}
            {% break %}
        {% endif %}
    {% endfor %}
</div>

<!-- List tags -->  
<div class="d-flex justify-content-center align-items-center">
    {% for tag in sortedTags %}
    <a class="smoothscroll badge badge-info text-capitalize" href="{{site.baseurl}}/tag/{{ tag | replace: " ","-" }}">All posts tagged with {{ tag }}</a>
    <br />
    {% endfor %}
</div>
