<!-- Related Posts
================================================== -->
<div class="{% unless page.tags == empty %} related-posts {% endunless %}">  

    {% assign sortedTags = page.tags | sort %}
    {% assign break_outer_loop = false %}

    {% for post in site.posts %}
        {% if post.url != page.url %}
        {% for tag in sortedTags %}
            {% if post.tags contains tag %}
                {% include related-posts-inner.html %}
                {% assign break_outer_loop = true %}
                {% break %}
            {% endif %}
        {% endfor %}
        {% endif %}

        {% if break_outer_loop %}
            {% break %}
        {% endif %}
    {% endfor %}


</div>