---
layout: default
disqus: false
post_class: post-template
---

<div class="entry-header">
    <!-- Post Title -->
    <h1 class="posttitle">{{ page.title }}</h1>
    <!-- Author & Date  Box -->
    {% assign author = site.author %}
    <div class="d-flex align-items-center mt-4">
        <div>
            {% if author.avatar %}
            <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
            {% else %}
            <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
            {% endif %}
        </div>            
        <div>
        Geschreven door {{ author.display_name }} op 
        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%d-%m-%Y" }}</time></span>           
        </div>            
    </div>
</div>

<!-- Featured Image -->
{% if page.show_feature_image %}
{% include featured-image.html %}
{% endif %}
<!-- Content -->
{% include article.html %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include related-posts.html %}
