---
title: "Tags"
layout: default
permalink: "/tags.html"
---

<h1>Tags</h1>

{% for tag in site.tags %}
<h4 class="mt-5 mb-neg-30" id="{{ tag[0] | replace: " ","-" }}"><a href="/tag/{{ tag[0] | replace: " ","-" }}" class="text-capitalize text-small badge badge-info">{{ tag[0] }}</a></h4>
<div class="blog-grid-container">
{% assign count = 0 %}
{% assign pages_list = tag[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
